.formContainer{
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}
.namePokemon, .strenghtPokemon, .defensePokemon ,.weaknessesPokemon{
    margin: 2px;
}
.abilitiesPokemon{
    border-width: 5px;
    border-style: solid;    
    border-color: black;
}