.formContainer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}
.namePokemon, .strenghtPokemon, .defensePokemon ,.weaknessesPokemon{
    margin: 2px;
}
.abilitiesPokemon{
    border-width: px;
    border-style: solid;    
    border-color: black;
    padding: 10px;
}

.textPokemonAbility{
    display: inline;
}