.divNovoPokemon{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.textPokemonItem{
    margin: 10px;
    
}
.textPokemonItemWeak{
    display: inline;
}

.textNameAbilities, .textElementAbilities, .textPowerAbilities {
    display: inline;
}
.textPokemonItemWeakTitle, .textPokemonAbilities{
    padding-left: 10px;
}